<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popcon - 공지사항</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/sub.css">
</head>
<body>
  <div id="skip_navi">
    <a href="#container">본문 바로가기</a>
  </div>
  <div id="wrap">
    <main id="container" class="board_page sub_container">
      <div class="sub_top">
        <div class="inner">
          <h2>공지사항</h2>
          <a href="notice-board-write.html" class="write_btn">게시물 작성하기</a>
        </div>
      </div>
      <div class="contents">
        <div class="inner">
          <div class="board_list">
            <table>
              <caption>공지사항</caption>
              <thead>
                <tr>
                  <th class="col1">번호</th>
                  <th class="col2">제목</th>
                  <th class="col3">이름</th>
                  <th class="col4">날짜</th>
                  <th class="col5">조회수</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="notice-board-view.html" class="board_title">사이트 이용 수칙사이트 이용 수칙사이트 이용 수칙 말줄임표가 제대로 작동하는지 확인하기 위해 제목을 길게 만들어보겠습니다 이게 과연 제대로</a></td>
                  <td>관리자</td>
                  <td>2024.03.28</td>
                  <td>999</td>
                </tr>
              </thead>
            </table>
            <table>
              <caption>페이징</caption>
              <!-- 게시판 페이징은 JSP로 작업 예정 -->
              <td>첫페이지 이전 1 2 3 다음 마지막 페이지</td>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>