* {
  box-sizing: border-box;
}

:root {
  background-color: #121212;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1920px;
  color: black;
}

/* 컬러 변수 */
:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}

/* 헤더 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

#header .inner {
  max-width: 1920px;
  background: var(--txt-color-500);
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header .inner h1 {
  margin-left: 12px;
}
#header .gnb_wrap {
  margin-left: 80px;
}
#header .gnb {
  display: flex;
  align-items: center;
}
#header .gnb li.depth1 {
  display: block;
  position: relative;
  padding-right: 40px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 600;
}
#header .gnb li.depth1:hover > a {
  color: var(--point--color1);
}
#header .gnb .depth2 {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
}
#header .inner .search {
  width: 395px;
  height: 40px;
  margin-left: 50px;
  border-radius: 20px;
  border: 1px solid #767676;
  background-color: #2c2c2c;
  position: relative;
}
#header .inner input[type='text'] {
  border: none;
  background: none;
  width: 330px;
  height: 40px;
  position: absolute;
  left: 20px;
}
#header .inner .search_btn {
  border: none;
  width: 22px;
  height: 22px;
  background: url(../images/main/header/search_btn.svg) no-repeat 50% 50%;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#header .inner .login_wrap {
  display: flex;
}
#header .inner .login_btn {
  /* display: none; */
  width: 40px;
  height: 40px;
  -webkit-mask: url(../images/main/header/login.svg) no-repeat 50% 50%;
  mask: url(../images/main/header/login.svg) no-repeat 50% 50%;
  mask-size: 40px 40px;
  background: #fff;
}
#header .inner .login_btn:hover {
  background: var(--point--color1);
}
#header .inner .logout {
  display: none;
  /* display: flex; */
}
#header .inner .logout_btn {
  width: 40px;
  height: 40px;
  -webkit-mask: url(../images/main/header/logout.svg) no-repeat 50% 50%;
  mask: url(../images/main/header/logout.svg) no-repeat 50% 50%;
  mask-size: 40px 40px;
  background: #fff;
}
#header .inner .logout_btn:hover {
  background: var(--point--color1);
}
#header .inner .mypage {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-mask: url(../images/main/header/mypage.svg) no-repeat 50% 50%;
  mask: url(../images/main/header/mypage.svg) no-repeat 50% 50%;
  background: #fff;
}

/* 서브메뉴 */
#header .gnb > li .depth2 {
  position: absolute;
  left: 0;
  padding-top: 10px;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  font-size: 15px;
}
#header .gnb > li .depth2:hover {
  color: var(--point--color1);
}

#header.on .gnb > li .depth2 {
  transition: all 0.2s;
  opacity: 1;
  visibility: visible;
  z-index: 50;
  height: 200px;
}

#header .gnb .depth2 > li > a {
  display: block;
  padding: 7px 0;
  text-align: left;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

#header .gnb .depth2 > li > a:hover {
  color: var(--point-color1);
}

/* 서브메뉴 효과 */
#header.on {
  background: #121212;
}

#header.on::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
}

#header::after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  background: #121212;
  z-index: 30;
}
#header.on::after {
  height: 216px;
  transition: all 0.1s;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 80px;
  left: 0;
}

/* 푸터 */
#footer {
  background: #222;
  margin-top: 60px;
}
#footer .inner {
  max-width: 1250px;
  height: 310px;
  margin: 0 auto;
  padding: 30px 15px;
  position: relative;
}
#footer .footer_wrap {
  display: flex;
  flex-direction: column;
}
#footer .footer_top .txt_wrap .txt {
  display: flex;
  gap: 0 15px;
  align-items: center;
  margin-bottom: 20px;
}
#footer .footer_top .txt_wrap .txt > li > a {
  font-size: 12px;
  font-weight: 600;
}
#footer .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer_bottom .col1 .company_wrap,
#footer .copyright {
  color: var(--txt-color-400);
  font-size: 12px;
  font-weight: 600;
}

#footer .footer_wrap .col2 .sns {
  display: flex;
  gap: 0 15px;
  justify-content: space-between;
}
#footer .footer_wrap .col2 .sns img {
  width: 18px;
  height: 18px;
}

#footer .footer_wrap .footer_logo {
  width: 140px;
  height: 50px;
  margin-top: 15px;
}

.booking_tit {
  margin-top: 80px;
  max-width: 1920px;
  max-height: 550px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking_img {
  margin-top: 25px;
}
.bm_pin {
  width: 30px;
  height: 25px;
}
.bm_location {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.booking_main {
  margin-left: 118px;
  margin-right: 98px;
}
.bm_main_tit,
.bm_qna_tit {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.booking_box {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 30px;
  position: relative;
}
.box_tit {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.box_pay {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 10px;
}
.box_date {
  font-size: 20px;
  font-weight: 600;
  color: #767676;
  margin-left: 30px;
}
.review {
  font-size: 25px;
  font-weight: 600;
  color: #767676;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.review_wrap {
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.star,
.review1,
.review2 {
  font-size: 25px;
  font-weight: 600;
}

.star {
  color: red;
}

.review2 {
  color: #767676;
}

.bm_booking_btn {
  font-size: 30px;
  font-weight: 600;
  color: #121212;
  width: 200px;
  height: 100px;
  background-color: #fce8c3;
  border: none;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bm_qna_box {
  margin-bottom: 140px;
}
.bm_qna_main {
  display: flex;
}
.bm_call {
  width: 26px;
  height: 26px;
}
.bm_qna_main span {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #767676;
}

@media (max-width: 1200px) {
  #header {
    height: 100px;
  }
  #header .gnb_wrap {
    display: none;
  }
  #header .inner .login {
    margin-left: 0;
  }
  .booking_main_inner {
    margin-left: 100px;
    margin-right: 100px;
  }
  .booking_img {
    width: 80%;
  }
  .bm_location {
    font-size: 16px;
  }
  .bm_pin {
    width: 15px;
    height: 15px;
  }
  .booking_main {
    margin: 0;
  }

  .bm_main_tit,
  .bm_qna_tit {
    font-size: 46px;
  }
  .box_tit {
    font-size: 36px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .box_pay {
    font-size: 24px;
    margin-left: 20px;
  }
  .box_date {
    font-size: 16px;
    margin-left: 20px;
  }
  .review_wrap {
    margin-left: 20px;
  }

  .bm_booking_btn {
    width: 150px;
    height: 80px;
    font-size: 24px;
  }

  .bm_call {
    width: 20px;
    height: 20px;
  }
  .bm_qna_main span {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  #header .inner .login_wrap {
    margin-left: 40px;
  }
  #header .inner .login_btn,
  #header .inner .logout_btn,
  #header .inner .mypage {
    width: 30px;
    height: 30px;
    mask-size: 30px 30px;
  }

  #footer .footer_bottom {
    flex-direction: column;
    align-items: start;
  }
  #footer .footer_bottom .col1 .company_wrap {
    line-height: 1.4;
  }
  #footer .footer_bottom .col2 {
    margin: 10px 0;
  }
  #footer .footer_wrap .col2 .sns > li > a {
    font-size: 12px;
  }

  .bm_location {
    margin-left: 60px;
  }

  .box_tit {
    font-size: 30px;
  }
  .box_pay {
    font-size: 20px;
  }
}
