* {
  box-sizing: border-box;
}

:root {
  background-color: #121212;
}

body {
  color: #121212;
}

/* 컬러 변수 */
:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}


.booking_main_inner {
	width: 100%;
}

.booking_tit {
  position:relative;
  margin-top: 80px;
  max-width: 100%;
  max-height: 700px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking_tit .inner {
	margin: 0 auto;
}
.booking_img {
  margin-top: 25px;
  width: 1000px;
  height: 600px;
  border-radius: 30px;
  object-fit: cover;
  
}
.bm_pin {
  width: 30px;
  height: 25px;
}
.bm_location {
  font-size: 26px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.booking_main {
  max-width: 1250px;
  margin-left: 118px;
  margin-right: 98px;
  margin:0 auto;
}
.bm_main_tit,
.bm_qna_tit {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 46px;
  font-weight: 600;
  color: white;
}
.bm_img_tit {
	position:absolute;
	bottom:15%;
	font-size:44px;
	font-weight:600;
	margin-left: 30px;
	color:white;
}
.booking_box {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 30px;
  position: relative;
  padding: 30px;
}
.box_tit {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.box_pay {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.box_date {
  font-size: 20px;
  font-weight: 600;
  color: #767676;
}
.review {
  font-size: 25px;
  font-weight: 600;
  color: #767676;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.review_wrap {
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.star,
.review1,
.review2 {
  font-size: 25px;
  font-weight: 600;
}

.star {
  color: red;
}

.review2 {
  color: #767676;
}

.bm_booking_btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 26px;
  font-weight: 600;
  color: #121212;
  width: 150px;
  height: 80px;
  background-color: #fce8c3;
  border: none;
  border-radius: 26px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bm_qna_box {
  margin-bottom: 140px;
}
.bm_qna_main {
  display: flex;
}
.bm_call {
  width: 24px;
  height: 24px;
}
.bm_qna_main span {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #767676;
}

@media (max-width: 1200px) {
  
	.booking_img {
		width: 900px;
		height: 500px;
	}

  .bm_img_tit {
    bottom: 15%;
    left: 10%;
	font-size:30px;
  }
  .bm_location {
    font-size: 20px;
  }
  .bm_pin {
    width: 20px;
    height: 20px;
  }
  .booking_main {
    padding: 0 30px;
  }

  .bm_main_tit,
  .bm_qna_tit {
    font-size: 38px;
  }
  .booking_box {
	padding: 24px;
  }
  .box_tit {
    font-size: 30px;
    white-space: nowrap;
  }
  .box_pay {
    font-size: 24px;
  }
  .box_date {
    font-size: 16px;
  }
  .review_wrap {
    margin-left: 20px;
  }

  .bm_booking_btn {
    width: 110px;
    height: 60px;
    font-size: 20px;
	border-radius: 16px;
  }

  .bm_call {
    width: 16px;
    height: 16px;
  }
  .bm_qna_main span {
    font-size: 14px;
  }
}

@media (max-width: 767px) {

  
  .booking_img {
	width: 600px;
	height: 320px;
  }
  
  .bm_img_tit {
    font-size:20px;
    bottom: 20%;
    left: 10%;
	margin-left: 0;
  }
  .bm_location {
	font-size: 16px;
  }
  .bm_pin {
	width: 16px;
	height: 16px;
  }
  .booking_box {
	padding: 20px;
  }
  .bm_main_tit, 
  .bm_qna_tit {
	font-size: 30px;
  }

  .box_tit {
    font-size: 24px;
  }
  .box_pay {
    font-size: 18px;
  }
  .box_date {
	font-size: 14px;
  }
  
  .bm_booking_btn {
	font-size: 16px;
	width: 80px;
	height: 45px;
	border-radius: 10px;
  }
  .bm_call {
	width: 14px;
	height: 14px;
  }
  .bm_qna_main span {
	margin-left: 8px;
	font-size: 12px;
  }
}
