* {
  box-sizing: border-box;
}

:root {
  background-color: #121212;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1920px;
  color: black;
}

/* 컬러 변수 */
:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}



.booking_tit {
  position:relative;
  margin-top: 80px;
  max-width: 1920px;
  max-height: 550px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking_img {
  margin-top: 25px;
}
.bm_pin {
  width: 30px;
  height: 25px;
}
.bm_location {
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.booking_main {
  margin-left: 118px;
  margin-right: 98px;
}
.bm_main_tit,
.bm_qna_tit {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.bm_img_tit {
	position:absolute;
	bottom:20%;
	left: 7%;
	font-size:50px;
	font-weight:600;
	color:white;
}
.booking_box {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 30px;
  position: relative;
  padding: 30px;
}
.box_tit {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.box_pay {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.box_date {
  font-size: 20px;
  font-weight: 600;
  color: #767676;
}
.review {
  font-size: 25px;
  font-weight: 600;
  color: #767676;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.review_wrap {
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.star,
.review1,
.review2 {
  font-size: 25px;
  font-weight: 600;
}

.star {
  color: red;
}

.review2 {
  color: #767676;
}

.bm_booking_btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: 600;
  color: #121212;
  width: 200px;
  height: 100px;
  background-color: #fce8c3;
  border: none;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bm_qna_box {
  margin-bottom: 140px;
}
.bm_qna_main {
  display: flex;
}
.bm_call {
  width: 26px;
  height: 26px;
}
.bm_qna_main span {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #767676;
}

@media (max-width: 1200px) {
  
  .booking_main_inner {
    margin-left: 100px;
    margin-right: 100px;
  }
  .booking_img {
    width: 80%;
  }
  .bm_img_tit {
    bottom: 30%;
    left: 15%;
	font-size:30px;
  }
  .bm_location {
    font-size: 16px;
  }
  .bm_pin {
    width: 15px;
    height: 15px;
  }
  .booking_main {
    margin: 0;
  }

  .bm_main_tit,
  .bm_qna_tit {
    font-size: 46px;
  }
  .box_tit {
    font-size: 36px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .box_pay {
    font-size: 24px;
    margin-left: 20px;
  }
  .box_date {
    font-size: 16px;
    margin-left: 20px;
  }
  .review_wrap {
    margin-left: 20px;
  }

  .bm_booking_btn {
    width: 150px;
    height: 80px;
    font-size: 24px;
  }

  .bm_call {
    width: 20px;
    height: 20px;
  }
  .bm_qna_main span {
    font-size: 18px;
  }
}

@media (max-width: 767px) {

  .bm_location {
    margin-left: 60px;
  }
  
  .bm_img_tit {
    font-size:20px;
    bottom: 40%;
    left: 20%;
  }

  .box_tit {
    font-size: 30px;
  }
  .box_pay {
    font-size: 20px;
  }
}
