:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}

#container {
	padding-top: 120px;
}

.tit_wrap .inner {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}
.tit_wrap h2{	
	font-size: 48px;
	font-weight: 700;
	color: var(--txt-color-600);
	margin-bottom: 20px;
}
.tit_wrap .current_points {
	font-size: 20px;
	font-weight: 600;
	color: var(--point--color1);
}
.tit_wrap .pl_write_btn {
    position: absolute;
    right: 20px;
    top: 100%;
    transform: translateY(50%);
 	background: var(--point--color1);
  	color: var(--txt-color-500);
  	font-weight: 700;
  	border: none;
  	border-radius: 8px;
  	padding: 10px;
}

.pl_main {
  padding: 120px 0;
}
.pl_main .inner {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}


.coupon_wrap {
	display: flex;
	gap: 30px 0;
	flex-wrap: wrap;
	justify-content: space-between;
}
.coupon_wrap .coupon_banner {
	width: calc(50% - 30px);
	display: flex;
}
.coupon_banner .img_wrap {
  width: 150px;
  height: 150px;
  margin-right: 25px;
  overflow: hidden;
  border-radius: 4px;
}
.coupon_banner .img_wrap img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.coupon_banner .coupon_detail {
	width: 70%;
	position: relative;
}
.coupon_banner .coupon_tit {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
}
.coupon_banner .coupon_tit p {
	display: flex;
	font-size: 20px;
	font-weight: 700;
	align-items: center;
}
.coupon_banner .coupon_tit .buy_btn {
	background-color: var(--txt-color-500);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.coupon_banner .coupon_tit .buy_btn.disabled {
	cursor: not-allowed;
}
.coupon_banner .coupon_detail .coupon_price {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-weight: 700;
}