* {
  box-sizing: border-box;
}

:root {
  background-color: #121212;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

/* 컬러 변수 */
:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}


#popup_list_container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}

.popup_list_inner {
  margin-top: 80px;
  margin-left: 335px;
  margin-right: 335px;
}

.popup_list_title {
  font-size: 3vw;
  font-weight: 600;
  color: white;
  margin: 0;
  margin-top: 5vh;
}
.popup_list_title_wrap h2 a {
  font-size: 46px;
}

.pl_main {
  margin-top: 50px;
  display: block;
}

.pl_write_btn {
  background-color: #fce8c3;
  color: black;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  width: 136px;
  height: 44px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.kategorie_wrap {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.kategorie_wrap .keyword {
  margin: 0;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.pl_kategorie {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.pl_kategorie li {
  width: 45px;
  background: #767676;
  border-radius: 14px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9d9d9;
}

.pl_kategorie .char_btn {
  width: 58px;
}
.pl_kategorie .fassion_btn {
  width: 88px;
}
.pl_kategorie .health_btn {
  width: 99px;
}
.pl_kategorie .digital_btn {
  width: 96px;
}

.popup_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.popup_banner {
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding-bottom: 40px;
  position: relative;
}

.popup_banner a {
  display: flex;
}

.popup_banner img {
  width: 180px;
  height: 180px;
  margin-right: 25px;
}

.txt_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  justify-content: flex-start;
}

.txt_title a {
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.txt_title img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}


.popup_date {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: #d9d9d9;
}
.popup_location {
  margin-top:10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.popup_location img {
  width: 15px;
  height: 20px;
  margin-right: 5px;
}

.pl_like_btn {
	position: absolute;
	right:0;
}

/* 태블릿 분기점 */
@media (max-width: 1200px) {
  .popup_list_title_wrap h2 a {
    font-size: 25px;
  }
  .popup_list_inner {
    margin-left: 100px;
    margin-right: 100px;
  }
  .popup_banner .popup_img {
    width: 120px;
    height: 120px;
  }
  .pl_kategorie {
    white-space: nowrap;
  }

  .txt_title h2 {
    font-size: 14px;
  }
  .popup_location {
    margin-left: -10px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .popup_list_title_wrap h2 a {
    font-size: 25px;
  }
  .popup_list_inner {
    margin-left: 10px;
    margin-right: 10px;
  }
  .pl_kategorie {
    white-space: nowrap;
  }
  .pl_kategorie {
    display: flex;
    flex-wrap: wrap; /* 자동 줄바꿈 허용 */
  }

  .popup_banner .popup_img {
    width: 90px;
    height: 90px;
  }
  .popup_wrap {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .popup_banner {
    width: 100%;
  }
  .popup_location {
    font-size: 12px;
  }
}
