:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}

.sub_container .inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.sub_container {
  padding-top: 120px;
}
.sub_container .contents {
  padding: 120px 0;
  position: relative;
}

/********* 로그인 *********/
.login_page .inner {
  max-width: 492px;
  min-width: 360px;
  padding: 0 16px;
}
.login_page .logo_wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  gap: 10px 0;
  flex-direction: column;
  align-items: center;
}
.login_page .logo_wrap h2 {
  display: inline-block;
  width: 160px;
  height: 60px;
  margin-bottom: 20px;
}
.login_page .logo_wrap h2 a {
  background: url(../images/logo_login.png) no-repeat 0 0;
  background-size: cover;
  display: block;
  height: 50px;
}

.login_page .login_area {
  margin-top: 80px;
}
.login_page .login_area .input_wrap1 {
  margin-bottom: 12px;
}
.login_page .login_area .input_wrap2 {
  margin-bottom: 3px;
}
.login_page .login_area input[type="text"],
.login_page .login_area input[type="password"] {
  width: 100%;
  height: 56px;
  background-color: var(--txt-color-500);
  border: 1px solid #e5e8eb;
  font-size: 16px;
  font-weight: 700;
}
.login_page .login_area input[type="text"]:focus,
.login_page .login_area input[type="password"]:focus {
  border: 2px solid var(--point--color1);
}
.login_page .login_area input[type="text"]::placeholder,
.login_page .login_area input[type="password"]::placeholder {
  font-weight: 600;
}

.login_page .login_area .checkbox_wrap {
  margin-top: 10px;
}
.login_page .login_area .checkbox_wrap label {
  font-size: 12px;
}
.login_page .login_area .login_btn {
  display: block;
  width: 100%;
  line-height: 60px;
  background: var(--point--color1);
  color: var(--txt-color-500);
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
}

.login_page .link_wrap {
  display: flex;
  gap: 0 10px;
  padding-top: 12px;
}
.login_page .link_wrap > li > a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #737881;
  font-family: "맑은 고딕", sans-serif;
}

/********* 회원가입 - 메인 *********/
.register_page .choose_wrap p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.register_page .choose_type {
  display: flex;
  justify-content: space-between;
}
.register_page .choose_type > li > a {
  border: 1px solid var(--point--color1);
  border-radius: 4px;
  font-size: 42px;
  padding: 5px 10px;
}
.register_page .choose_type > li > a:hover {
  background-color: var(--point--color1);
  color: var(--txt-color-500);
  transition: all 0.2s;
}

/********* 회원가입 - 일반회원 *********/
.register_wrap .input_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 10px;
  margin-bottom: 10px;
}
/* 각 input 태그 앞 입력 사항을 알려줌, width조절 */
.register_wrap .item_id,
.register_wrap .item_email {
  width: 50px;
}
.register_wrap .item_name {
  width: 40px;
}
.register_wrap .item_pass,
.register_wrap .item_phone {
  width: 70px;
}
.register_wrap .item_pass2 {
  width: 100px;
}
/* 각 항목 입력 칸(input 태그) width 조절 */
.register_wrap .input_id,
.register_wrap .input_email {
  width: calc(100% - 60px);
}
.register_wrap .input_name {
  width: calc(100% - 50px);
}
.register_wrap .input_pass,
.register_wrap .input_phone {
  width: calc(100% - 80px);
}
.register_wrap .input_pass2 {
  width: calc(100% - 110px);
}

/* 아이디 중복 확인 버튼 */
.register_wrap .check_btn {
  border: 1px solid var(--txt-color-600);
  background: var(--txt-color-500);
  padding: 5px 15px;
  margin-bottom: 10px;
}

.register_wrap .check_btn:hover {
  background: var(--point--color1);
  color: var(--txt-color-500);
  transition: all 0.2s;
}

/* 회원가입, 취소 버튼 */
.register_wrap .btn_wrap {
  display: flex;
  justify-content: center;
  gap: 0 5px;
}
.register_wrap .btn_wrap .register_btn {
  line-height: 22px;
  background: var(--txt-color-400);
  font-weight: 700;
  margin-right: 4px;
}
.register_wrap .btn_wrap .register_btn:hover {
  background-color: var(--point--color1);
  color: var(--txt-color-500);
  transition: all 0.2s;
}

/********* 회원가입 - 기업회원 *********/
.register_wrap .item_com_name {
  width: 50px;
}
.register_wrap .item_regi_num {
  width: 80px;
}

.register_wrap .input_com_name {
  width: calc(100% - 60px);
}
.register_wrap .input_regi_num {
  width: calc(100% - 90px);
}

/********* 게시판 공통 *********/
.board_page .board_view {
  margin-bottom: 30px;
}
/* 게시판 목록에서 제목에 말줄임 기능 적용 */
.board_page .board_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
/* 게시판 목록에서 제목, 작성일, 조회수 부분 */
.board_page .tit_wrap {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  border-top: none;
  border-bottom: none;
  padding: 0;
}
.board_page h3 {
  font-size: 30px;
}
.board_page .tit_wrap h3 {
  margin-bottom: 15px;
  font-weight: 700;
}
.board_page .tit_wrap .date {
  font-size: 14px;
  color: #aeaeae;
  margin-bottom: 15px;
}
/* 게시판 공통 버튼 */
.board_page .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 0 5px;
}
.board_page .board_btn {
  font-weight: 700;
  transition: all 0.2s;
}
.board_page .board_btn:hover {
  background-color: var(--point--color1);
  color: var(--txt-color-500);
}

/********* 게시판 - 목록 *********/
.sub_top .inner {
  position: relative;
}
.sub_top h2 {
  font-size: 60px;
  font-weight: 700;
}
.sub_top .write_btn {
  position: absolute;
  right: 20px;
  top: 100%;
  transform: translateY(50%);
  background: var(--point--color1);
  color: var(--txt-color-500);
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 8px;
  z-index: 1;
}

/********* 게시판 - 상세보기 *********/
.board_page .board_view {
  line-height: 1.5;
}

/********* 자유게시판 - 댓글 *********/
.comment_section {
  margin-top: 30px;
  border-top: 1px solid var(--txt-color-600);
  font-size: 14px;
  padding-top: 20px;
}
.comment_section h3 {
  font-size: 24px;
  color: var(--point--color1);
  margin-bottom: 10px;
}
.comment_section .comment_writer {
  margin-top: 10px;
}
.comment_section .comment_form {
  margin-bottom: 30px;
}
.comment_section .comment_area {
  background: none;
  border: 1px solid var(--txt-color-600);
  margin: 10px 0;
}
.comment_section .comment_btn {
  width: 100px;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s;
}
.board_page .comment_btn:hover {
  background-color: var(--point--color1);
  color: var(--txt-color-500);
}
.comment_list .comment_item {
  margin-bottom: 20px;
}
.comment_item .txt_wrap {
  margin-bottom: 10px;
}

/********* 게시판 - 쓰기 *********/
.board_write h3 {
  height: 88px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 25px 0;
}
.board_write th {
  /* border-bottom: 1px solid #e8e8e8; */
  padding: 6px 12px;
  text-align: left;
  font-weight: 500;
  width: 20%;
}
.board_write td {
  border-bottom: 1px solid #e8e8e8;
  padding: 6px;
}
.board_write input[type="text"] {
  border: none;
}
.board_write textarea {
  background: none;
}
/* 자유게시판 파일첨부 */
.board_write .td_flex {
  display: flex;
  align-items: center;
}
.file_wrap {
  border: 1px solid #999;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}
.file_wrap input[type="text"] {
  color: var(--txt-color-600);
  height: 38px;
  width: calc(100% - 98px);
  border: none;
  padding: 0 10px;
}
.file_wrap label {
  width: 98px;
  height: auto;
  font-weight: 700;
  cursor: pointer;
  background: var(--txt-color-500);
  color: var(--txt-color-60000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.file_wrap label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 16px;
  transform: translateY(-50%);
  background: #ddd;
}
.board_write .file_note {
  display: inline-block;
  color: #999;
  font-size: 13px;
  margin-left: 30px;
}
/********* 아이디/비번 찾기 ***********/
  .find .logo {
    margin-top: 150px;
    text-align: center;
  }

  .find .contents {
    max-width: 580px;
    min-height: 520px;
    margin: 40px auto;
    padding: 58px 69px 139px;
    border: 1px solid #767676;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .find .contents p {
    text-align: center;
    margin-bottom: 30px;
  }
  .find .contents .title {
    font-size: 30px;
    font-weight: 700;
  }
  .find .contents .txt {
    font-size: 14px;
    color: var(--txt-color-400);
  }
  .find .contents .row1 input[type='text'] {
    width: 100%;
    height: 50px;
    background: none;
    margin: 5px 0 15px;
    border: 1px solid #767676;
  }
  .find .contents input[type='email'] {
    width: 100%;
    height: 50px;
    background: none;
    border: 1px solid #767676;
    margin: 5px 0 10px;
    padding: 0 10px;
  }
  .find .contents .row2 input[type='text'] {
    width: 70%;
    height: 50px;
    background: none;
    margin: 5px 0 15px;
    border: 1px solid #767676;
  }
  .find .contents .row2 .num_btn {
    background: var(--point--color2);
    height: 50px;
    width: 110px;
    border: none;
    border-radius: 30px;
    margin: 0px 0 10px 10px;
  }

  .find .contents .send_btn {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid #767676;
    border-radius: 30px;
    margin-top: 40px;
    font-weight: 600;
  }
  .find .contents .send_btn:hover {
    background: var(--point--color1);
    color: var(--txt-color-500);
    font-weight: 600;
  }
  .find .contents .link_wrap {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  .find .contents .link_wrap a {
    color: var(--txt-color-400);
  }
  .find .contents .link_wrap a:hover {
    color: var(--point--color2);
  }

/***************** 태블릿 분기점 *****************/
@media (max-width: 1200px) {
  .sub_container .contents {
    padding: 80px 0;
  }
  .sub_top h2 {
    font-size: 46px;
  }

  /********* 로그인 페이지 *********/
  .login_page .logo_wrap {
    transform: translate(-50%, 0%);
  }

  /********* 회원가입 *********/
  .register_page .choose_wrap p {
    font-size: 24px;
  }
  .register_page .choose_type > li > a {
    font-size: 36px;
  }
  .register_wrap .check_btn {
    font-size: 14px;
  }
  
  

  /********* 게시판 공통  *********/
  .board_page .btn_wrap {
    margin-top: 40px;
  }
  .board_write h3 {
    padding: 15px 0;
    height: auto;
    font-size: 28px;
  }

  .file_wrap {
    width: 100%;
  }
}

/***************** 모바일 분기점 *****************/
@media (max-width: 767px) {
  .sub_container .contents {
    padding: 50px 0;
  }
  .sub_top h2 {
    font-size: 25px;
  }

  /********* 로그인 페이지 *********/
  .login_page .logo_wrap {
    transform: translate(-50%, -50%);
    margin-top: 30px;
    align-items: center;
    gap: 0;
  }

  /********* 회원가입 *********/
  .register_page .choose_type {
    justify-content: center;
    gap: 0 20px;
  }
  .register_page .choose_type > li > a {
    font-size: 28px;
  }
  .register_page .choose_wrap p {
    font-size: 18px;
  }

  /********* 게시판 공통 *********/
  input,
  .board_page th,
  .board_page td,
  .board_page textarea {
    font-size: 14px;
  }
  .board_page .tit_wrap h3 {
    font-size: 18px;
  }
  /* 게시판 버튼 wrap */
  .board_page .btn_wrap {
    margin-top: 20px;
  }
  /* 게시판 공통 버튼 */
  .board_page .board_btn {
    width: 100px;
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
  }

  /********* 게시판 - 목록 *********/
  .board_page .board_title {
    font-size: 14px;
  }
  /* 게시물 작성 버튼 */
  .sub_top .write_btn {
    font-size: 14px;
  }
  .board_list .col2 {
    width: 50%;
  }

  /********* 게시판 - 상세보기 *********/
  .board_page .tit_wrap .date {
    font-size: 12px;
  }
  .board_view .view_con {
    font-size: 14px;
  }

  /* 댓글 */
  .comment_section h3 {
    font-size: 18px;
  }
  .comment_section .comment_btn {
    width: 80px;
    font-size: 12px;
    height: 30px;
  }

  /********* 게시판 - 쓰기 *********/
  .board_write h3 {
    padding: 15px 0;
    height: auto;
    font-size: 18px;
  }
  .file_wrap {
    width: 100%;
  }
  .file_wrap input[type="text"] {
    height: 30px;
  }
  .board_write .file_note {
    display: none;
  }
}
