<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="팝업스토어를 검색하고 예약할 수 있게 하여 다양한 문화생활을 보다 쉽게 즐길 수 있도록 만듭니다.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="POPCON-Project">
  <meta property="og:description" content="팝업스토어를 검색하고 예약할 수 있게 하여 다양한 문화생활을 보다 쉽게 즐길 수 있도록 만듭니다.">
  <title>로그인</title>
  <!-- 파비콘 -->
  <link rel="icon" href="/images/main/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/main/apple_logo.png">

  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/main.css?v=<?php echo time(); ?>">
  <link rel="stylesheet" href="/css/sub.css">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
  <script src="/js/ui-common.js?v=<?php echo time(); ?>"></script>
</head>

<body>
  <div id="skip_navi">
    <a href="#container">본문 바로가기</a>
  </div>
  <div id="wrap">
    <header id="header">
      <div class="inner">
        <h1 class="logo">
          <a href="main.html">
            <img src="/images/logo.png" alt="팝콘 로고">
          </a>
        </h1>
        <nav class="gnb_wrap">
          <ul class="gnb">
            <li class="depth1">
              <a href="#">팝콘 소식</a>
              <ul class="depth2">
                <li>
                  <a href="#">플랫폼 소개</a>
                  <a href="#">조직도</a>
                  <a href="#">오시는 길</a>
                </li>
              </ul>
            </li>
            <li class="depth1">
              <a href="#">팝업 안내</a>
              <ul class="depth2">
                <li>
                  <a href="#">전체 팝업</a>
                  <a href="#">담당자 PICK</a>
                  <a href="#">이번달 인기</a>
                  <a href="#">오늘의 팝업</a>
                </li>
              </ul>
            </li>
            <li class="depth1">
              <a href="/html/free-board-list.html">공지사항</a>
            </li>
            <li class="depth1">
              <a href="#">커뮤니티</a>
              <ul class="depth2">
                <li>
                  <a href="#">자유 게시판</a>
                  <a href="#">POINT SHOP</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="search">
          <input type="text" placeholder="검색어를 입력하세요" />
          <button type="button" class="search_btn">
            <span class="blind">검색버튼</span>
          </button>
        </div>
        <div class="login_wrap">
          <div class="login">
            <button type="button" class="login_btn" onclick="location.href='/html/login.html'">
              <span class="blind">로그인</span>
            </button>
          </div>
          <div class="logout">
            <button type="button" class="logout_btn">로그아웃</button>
            <a class="mypage" href="#">마이페이지</a>
          </div>
        </div>
      </div>
    </header>
    <main id="container" class="login_page sub_container">
      <div class="contents">
        <div class="inner">
          <div class="logo_wrap">
            <h2 class="logo">
              <a href="index.html"></a>
              <span class="blind">팝콘로고</span>
            </h2>
            <h3>POPCON 로그인하기</h3>
          </div>
          <div class="login_area">
            <form>
              <fieldset>
                <legend>로그인</legend>
                <div class="row input_wrap1">
                  <input type="text" placeholder="아이디를 입력하세요.">
                </div>
                <div class="row input_wrap2">
                  <input type="password" placeholder="비밀번호를 입력하세요.">
                </div>
                <div class="row3 checkbox_wrap">
                  <input type="checkbox" id="check1" class="blind">
                  <label for="check1">로그인 상태 유지</label>
                </div>
                <a href="#" class="login_btn">로그인</a>
              </fieldset>
            </form>
          </div>
          <ul class="link_wrap">
            <li><a href="./register-main.html">회원가입</a></li>
            <li><a href="#">ID 찾기</a></li>
            <li><a href="#">비밀번호 찾기</a></li>
          </ul>
        </div>
      </div>
    </main>
    <footer id="footer" class="footer">
      <div class="inner">
        <section class="footer_wrap">
          <div class="footer_top">

            <div class="txt_wrap">
              <ul class="txt">
                <li><a href="#">서비스 이용약관</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">마케팅 수신 동의</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#">비즈니스</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_bottom">
            <div class="col1">
              <div class="company_wrap">
                <p>(주)플로팅플래닛</p>
                <p>주소 : 서울 종로구 삼일대로17길 51 스타골드빌딩 5층</p>
                <p>문의전화 : (02)333-4567</p>
                <p>이메일 : popcon@popcon.co.kr</p>
                <p>대표전화 : (02)333-4567</p>
                <p>FAX : (02)333-5432</p>
              </div>
            </div>
            <div class="col2">
              <div class="sns_wrap">
                <ul class="sns">
                  <li>
                    <a href="#">
                      <img src="../images/main/footer_sns_images/icon-kakao.svg">
                      카카오톡
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../images/main/footer_sns_images/icon-instagram.svg">
                      인스타그램
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../images/main/footer_sns_images/icon-facebook.svg">
                      페이스북
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../images/main/footer_sns_images/icon-naverblog.svg">
                      블로그
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <span class="copyright">Copyright 2024. Floating Planet Co.,Ltd. All rights reserved</span>
          <div class="footer_logo">
            <img src="../images/main/footer_awards.png" alt="">
          </div>
        </section>
      </div>
    </footer>
  </div>
</body>
</html>