<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.springboot.board.BoardMapper">
    <select id="selectAllBoards" resultType="com.edu.springboot.board.BoardDTO">
        SELECT * FROM BOARD
    </select>
    <select id="getFreeBoards" resultType="com.edu.springboot.board.BoardDTO">
    	SELECT * FROM BOARD WHERE board_type = 'free' ORDER BY postdate DESC
	</select>
	<select id="getNoticeBoards" resultType="com.edu.springboot.board.BoardDTO">
    	SELECT * FROM BOARD WHERE board_type = 'notice' ORDER BY postdate DESC
	</select>
	<select id="selectBoardById" resultType="com.edu.springboot.board.BoardDTO">
	    SELECT * FROM BOARD WHERE board_idx = #{board_idx}
	</select>
	<!-- 게시글 삽입 쿼리 -->
	<insert id="insertBoard" parameterType="com.edu.springboot.board.BoardDTO">
	    INSERT INTO BOARD (board_idx, board_title, contents, writer, board_type, postdate, role)
	    VALUES (NULL, #{board_title}, #{contents}, #{writer}, #{board_type}, SYSDATE, #{role})
	</insert>
    <update id="updateBoard" parameterType="com.edu.springboot.board.BoardDTO">
        UPDATE BOARD
        SET board_title = #{board_title},
            contents = #{contents},
            postdate = SYSDATE
        WHERE board_idx = #{board_idx}
    </update>
	<delete id="deleteBoard" parameterType="String">
	    DELETE FROM BOARD WHERE board_idx = #{board_idx}
	</delete>
	<select id="getFreeBoardsWithPaging" resultType="com.edu.springboot.board.BoardDTO">
	    SELECT * FROM (
	        SELECT ROWNUM AS rn, a.* FROM (
	            SELECT * FROM BOARD WHERE board_type = 'free' ORDER BY postdate DESC
	        ) a WHERE ROWNUM &lt;= #{offset} + #{limit}
	    ) WHERE rn &gt; #{offset}
	</select>
	
	<select id="getNoticeBoardsWithPaging" resultType="com.edu.springboot.board.BoardDTO">
	    SELECT * FROM (
	        SELECT ROWNUM AS rn, a.* FROM (
	            SELECT * FROM BOARD WHERE board_type = 'notice' ORDER BY postdate DESC
	        ) a WHERE ROWNUM &lt;= #{offset} + #{limit}
	    ) WHERE rn &gt; #{offset}
	</select>
	
	<select id="getFreeBoardCount" resultType="int">
	    SELECT COUNT(*) FROM BOARD WHERE board_type = 'free'
	</select>
	
	<select id="getNoticeBoardCount" resultType="int">
	    SELECT COUNT(*) FROM BOARD WHERE board_type = 'notice'
	</select>
	<update id="updateVisitCount">
	    UPDATE BOARD
	    SET visitcount = visitcount + 1
	    WHERE board_idx = #{boardIdx}
	</update>




</mapper>
